.profiledata-container{
    background-color: #fff;
    border-radius: 10px;
    width: fit-content;
    padding: 20px;
    box-shadow: 3px 2px 8px 0px black;

    .title-data{
        font-size: 26px;
    }
    .thedata{
        font-size: 18px;
    }
}